.button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.primary{
  background: linear-gradient(to right, #0796D3, #53C0F0);
}

.secondary {
  background-color: #E7EEFB;
  color: #000000
}

.cancel{
  background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
  color: #fff
}
