.todoListWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 16px;
  }
  
  .todoListContainer {
    width: 450px;
    height: 446px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    overflow: hidden; 
  }
  
  .taskSection,
  .completedTasksSection {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
  }
  
  .taskList,
  .completedTasksList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .taskSection {
    flex: 1; 
  }
  
  .completedTasksSection {
    flex: 1; 
  }
  
  .title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #0000008A;
    opacity: 54%;
    margin-bottom: 1rem;
    z-index: 1;
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100%;
  }
  
  .buttonWrapper button {
    width: 450px;
  }
  
  @media (max-width: 768px) {
    .todoListWrapper {
      padding: 0 16px;
      height: 50vh;
    }
  
    .todoListContainer {
      width: 100%;
      height: auto;
      padding: 16px;
      gap: 16px;
    }
  
    .buttonWrapper {
      margin-top: 16px;
    }
  
    .title {
      font-size: 14px;
    }
  
    .taskList,
    .completedTasksList {
      gap: 12px;
    }
  }
  